{% extends "base.html" %}
{% block title %}Table Demo{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}

    <h1>Table Demo</h1>
    <br>
    <div class="ms-4 me-4 w-50">
        <table id="data" class="table table-striped" style="width:100%">
            <thead>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Year</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                ajax: '/api/demodata',
                columns: [
                    {data: 'brand'},
                    {data: 'model'},
                    {data: 'year'}
                ]
            });
        });
    </script>
{% endblock %}